@page
@model NegosudAPI.test.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.tel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.tel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.adresse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.adresse)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Client?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
